
<h1 class="page-header">Spotify Demo</h1>
<%= form_tag artists_path, method: "get", html: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<h1 class="page-header">Artists Matching <%= params[:artist_name] %></h1>
<ul>
 <% @artists.each do |artist| %>
   <li><%= artist.name %> | <%= link_to "Show", artist_path(artist.id) %></li>
 <% end %>
</ul>